################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Exquisite-Corpse-Sedat-Mehmed/FileContentIndex/77790df9-d5cb-48a8-831f-42e07775be09.vsidx
